# Conducting a Research on Lagos State Houing Property Market

![Lagos housing estate!](../image/Lagos_housing_estate.jpg "Lagos housing estate")

## Problem Statement
The real estate sector in Lagos, Nigeria, is a rapidly growing and dynamic market, characterized by a complex array of factors including population growth, urbanization, economic development, and policy cahnges. However, this growth presents significant challenges, including housing affordability, access to reliable data on property prices, and market transparency. 

This project aims to bridge this gap by systematically scraping housing data from [nigeria property centre website, performing rigorous data cleaning and analysis. This project will focus on identifying trends, patterns, and anomalies in the housing market, particularly in pricing, availability and distribution of property types across different regions of Lagos.

By providing a detailed and data-driven overview of Lagos housing market, this project will empower stakeholders to make informed decisions and contribute to the development of more equitable and effiecient housing policies. Ultimately, this research seeks to enhance transparency and accessibility in the Lagos real estate market, fascilitating sustainable urban development and improving housing affordability for the residents of Lagos state. 

## Tools and Libraries
- Python programming language
- Pandas
- BeautifulSoup
- Requests
- Time

## Import Libraries

In [1]:
# import libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import re

In [6]:

def make_requests(base_url: str, page_num: int) -> str:
    page_url = base_url + f"?page={page_num}"
    res = requests.get(page_url)
    if res.status_code == 200:
        response = res.content
    else:
        print("Resource could not be found!")
    return response

## Scraping Activities

In [20]:
if "__main__" == __name__:
    # invoke make_requests
    BASE_URL = "https://nigeriapropertycentre.com/for-rent/lagos"
    data = [] # empty list

    # 1158 pages
    for page_num in range(1,1158):
        response = make_requests(BASE_URL, page_num)
        print(f"Collecting data from page {page_num} ...")
        # time.sleep(3)
        
        # create soup
        page_soup = BeautifulSoup(response, "html.parser")
        property_container = page_soup.find_all("div", class_="row property-list")
        
        for property in property_container:
            # get property details
            details = {
                "title" : property.find("h3").text if property.find("h3").text != None else "",
                "type" : property.find("h4", class_="content-title").text if property.find("h4", class_="content-title").text != None else "",
                "address" : property.find("address", class_="voffset-bottom-10").text if property.find("address", class_="voffset-bottom-10").text != None else "",
                "description" : property.find("div", class_="description hidden-xs").text if property.find("div", class_="description hidden-xs").text != None else "",
                "price" : property.find("span", class_="pull-sm-left").text if property.find("span", class_="pull-sm-left").text != None else "",
                "extra" : property.find("ul", class_="aux-info").text if property.find("ul", class_="aux-info").text != None else ""
            }
            # append each property details
            data.append(details)

print(f"Done collecting {len(data)} property data.")

# convert data to DataFrame
property_df = pd.DataFrame(data)

Collecting data from page 1 ...
Collecting data from page 2 ...
Collecting data from page 3 ...
Collecting data from page 4 ...
Collecting data from page 5 ...
Collecting data from page 6 ...
Collecting data from page 7 ...
Collecting data from page 8 ...
Collecting data from page 9 ...
Collecting data from page 10 ...
Collecting data from page 11 ...
Collecting data from page 12 ...
Collecting data from page 13 ...
Collecting data from page 14 ...
Collecting data from page 15 ...
Collecting data from page 16 ...
Collecting data from page 17 ...
Collecting data from page 18 ...
Collecting data from page 19 ...
Collecting data from page 20 ...
Collecting data from page 21 ...
Collecting data from page 22 ...
Collecting data from page 23 ...
Collecting data from page 24 ...
Collecting data from page 25 ...
Collecting data from page 26 ...
Collecting data from page 27 ...
Collecting data from page 28 ...
Collecting data from page 29 ...
Collecting data from page 30 ...
Collecting data from page 31 ...
Collecting data from page 32 ...
Collecting data from page 33 ...
Collecting data from page 34 ...
Collecting data from page 35 ...
Collecting data from page 36 ...
Collecting data from page 37 ...
Collecting data from page 38 ...
Collecting data from page 39 ...
Collecting data from page 40 ...
Collecting data from page 41 ...
Collecting data from page 42 ...
Collecting data from page 43 ...
Collecting data from page 44 ...
Collecting data from page 45 ...
Collecting data from page 46 ...
Collecting data from page 47 ...
Collecting data from page 48 ...
Collecting data from page 49 ...
Collecting data from page 50 ...
Collecting data from page 51 ...
Collecting data from page 52 ...
Collecting data from page 53 ...
Collecting data from page 54 ...
Collecting data from page 55 ...
Collecting data from page 56 ...
Collecting data from page 57 ...
Collecting data from page 58 ...
Collecting data from page 59 ...
Collecting data from page 60 ...
Collecting data from page 61 ...
Collecting data from page 62 ...
Collecting data from page 63 ...
Collecting data from page 64 ...
Collecting data from page 65 ...
Collecting data from page 66 ...
Collecting data from page 67 ...
Collecting data from page 68 ...
Collecting data from page 69 ...
Collecting data from page 70 ...
Collecting data from page 71 ...
Collecting data from page 72 ...
Collecting data from page 73 ...
Collecting data from page 74 ...
Collecting data from page 75 ...
Collecting data from page 76 ...
Collecting data from page 77 ...
Collecting data from page 78 ...
Collecting data from page 79 ...
Collecting data from page 80 ...
Collecting data from page 81 ...
Collecting data from page 82 ...
Collecting data from page 83 ...
Collecting data from page 84 ...
Collecting data from page 85 ...
Collecting data from page 86 ...
Collecting data from page 87 ...
Collecting data from page 88 ...
Collecting data from page 89 ...
Collecting data from page 90 ...
Collecting data from page 91 ...
Collecting data from page 92 ...
Collecting data from page 93 ...
Collecting data from page 94 ...
Collecting data from page 95 ...
Collecting data from page 96 ...
Collecting data from page 97 ...
Collecting data from page 98 ...
Collecting data from page 99 ...
Collecting data from page 100 ...
Collecting data from page 101 ...
Collecting data from page 102 ...
Collecting data from page 103 ...
Collecting data from page 104 ...
Collecting data from page 105 ...
Collecting data from page 106 ...
Collecting data from page 107 ...
Collecting data from page 108 ...
Collecting data from page 109 ...
Collecting data from page 110 ...
Collecting data from page 111 ...
Collecting data from page 112 ...
Collecting data from page 113 ...
Collecting data from page 114 ...
Collecting data from page 115 ...
Collecting data from page 116 ...
Collecting data from page 117 ...
Collecting data from page 118 ...
Collecting data from page 119 ...
Collecting data from page 120 ...
Collecting data from page 121 ...
Collecting data from page 122 ...
Collecting data from page 123 ...
Collecting data from page 124 ...
Collecting data from page 125 ...
Collecting data from page 126 ...
Collecting data from page 127 ...
Collecting data from page 128 ...
Collecting data from page 129 ...
Collecting data from page 130 ...
Collecting data from page 131 ...
Collecting data from page 132 ...
Collecting data from page 133 ...
Collecting data from page 134 ...
Collecting data from page 135 ...
Collecting data from page 136 ...
Collecting data from page 137 ...
Collecting data from page 138 ...
Collecting data from page 139 ...
Collecting data from page 140 ...
Collecting data from page 141 ...
Collecting data from page 142 ...
Collecting data from page 143 ...
Collecting data from page 144 ...
Collecting data from page 145 ...
Collecting data from page 146 ...
Collecting data from page 147 ...
Collecting data from page 148 ...
Collecting data from page 149 ...
Collecting data from page 150 ...
Collecting data from page 151 ...
Collecting data from page 152 ...
Collecting data from page 153 ...
Collecting data from page 154 ...
Collecting data from page 155 ...
Collecting data from page 156 ...
Collecting data from page 157 ...
Collecting data from page 158 ...
Collecting data from page 159 ...
Collecting data from page 160 ...
Collecting data from page 161 ...
Collecting data from page 162 ...
Collecting data from page 163 ...
Collecting data from page 164 ...
Collecting data from page 165 ...
Collecting data from page 166 ...
Collecting data from page 167 ...
Collecting data from page 168 ...
Collecting data from page 169 ...
Collecting data from page 170 ...
Collecting data from page 171 ...
Collecting data from page 172 ...
Collecting data from page 173 ...
Collecting data from page 174 ...
Collecting data from page 175 ...
Collecting data from page 176 ...
Collecting data from page 177 ...
Collecting data from page 178 ...
Collecting data from page 179 ...
Collecting data from page 180 ...
Collecting data from page 181 ...
Collecting data from page 182 ...
Collecting data from page 183 ...
Collecting data from page 184 ...
Collecting data from page 185 ...
Collecting data from page 186 ...
Collecting data from page 187 ...
Collecting data from page 188 ...
Collecting data from page 189 ...
Collecting data from page 190 ...
Collecting data from page 191 ...
Collecting data from page 192 ...
Collecting data from page 193 ...
Collecting data from page 194 ...
Collecting data from page 195 ...
Collecting data from page 196 ...
Collecting data from page 197 ...
Collecting data from page 198 ...
Collecting data from page 199 ...
Collecting data from page 200 ...
Collecting data from page 201 ...
Collecting data from page 202 ...
Collecting data from page 203 ...
Collecting data from page 204 ...
Collecting data from page 205 ...
Collecting data from page 206 ...
Collecting data from page 207 ...
Collecting data from page 208 ...
Collecting data from page 209 ...
Collecting data from page 210 ...
Collecting data from page 211 ...
Collecting data from page 212 ...
Collecting data from page 213 ...
Collecting data from page 214 ...
Collecting data from page 215 ...
Collecting data from page 216 ...
Collecting data from page 217 ...
Collecting data from page 218 ...
Collecting data from page 219 ...
Collecting data from page 220 ...
Collecting data from page 221 ...
Collecting data from page 222 ...
Collecting data from page 223 ...
Collecting data from page 224 ...
Collecting data from page 225 ...
Collecting data from page 226 ...
Collecting data from page 227 ...
Collecting data from page 228 ...
Collecting data from page 229 ...
Collecting data from page 230 ...
Collecting data from page 231 ...
Collecting data from page 232 ...
Collecting data from page 233 ...
Collecting data from page 234 ...
Collecting data from page 235 ...
Collecting data from page 236 ...
Collecting data from page 237 ...
Collecting data from page 238 ...
Collecting data from page 239 ...
Collecting data from page 240 ...
Collecting data from page 241 ...
Collecting data from page 242 ...
Collecting data from page 243 ...
Collecting data from page 244 ...
Collecting data from page 245 ...
Collecting data from page 246 ...
Collecting data from page 247 ...
Collecting data from page 248 ...
Collecting data from page 249 ...
Collecting data from page 250 ...
Collecting data from page 251 ...
Collecting data from page 252 ...
Collecting data from page 253 ...
Collecting data from page 254 ...
Collecting data from page 255 ...
Collecting data from page 256 ...
Collecting data from page 257 ...
Collecting data from page 258 ...
Collecting data from page 259 ...
Collecting data from page 260 ...
Collecting data from page 261 ...
Collecting data from page 262 ...
Collecting data from page 263 ...
Collecting data from page 264 ...
Collecting data from page 265 ...
Collecting data from page 266 ...
Collecting data from page 267 ...
Collecting data from page 268 ...
Collecting data from page 269 ...
Collecting data from page 270 ...
Collecting data from page 271 ...
Collecting data from page 272 ...
Collecting data from page 273 ...
Collecting data from page 274 ...
Collecting data from page 275 ...
Collecting data from page 276 ...
Collecting data from page 277 ...
Collecting data from page 278 ...
Collecting data from page 279 ...
Collecting data from page 280 ...
Collecting data from page 281 ...
Collecting data from page 282 ...
Collecting data from page 283 ...
Collecting data from page 284 ...
Collecting data from page 285 ...
Collecting data from page 286 ...
Collecting data from page 287 ...
Collecting data from page 288 ...
Collecting data from page 289 ...
Collecting data from page 290 ...
Collecting data from page 291 ...
Collecting data from page 292 ...
Collecting data from page 293 ...
Collecting data from page 294 ...
Collecting data from page 295 ...
Collecting data from page 296 ...
Collecting data from page 297 ...
Collecting data from page 298 ...
Collecting data from page 299 ...
Collecting data from page 300 ...
Collecting data from page 301 ...
Collecting data from page 302 ...
Collecting data from page 303 ...
Collecting data from page 304 ...
Collecting data from page 305 ...
Collecting data from page 306 ...
Collecting data from page 307 ...
Collecting data from page 308 ...
Collecting data from page 309 ...
Collecting data from page 310 ...
Collecting data from page 311 ...
Collecting data from page 312 ...
Collecting data from page 313 ...
Collecting data from page 314 ...
Collecting data from page 315 ...
Collecting data from page 316 ...
Collecting data from page 317 ...
Collecting data from page 318 ...
Collecting data from page 319 ...
Collecting data from page 320 ...
Collecting data from page 321 ...
Collecting data from page 322 ...
Collecting data from page 323 ...
Collecting data from page 324 ...
Collecting data from page 325 ...
Collecting data from page 326 ...
Collecting data from page 327 ...
Collecting data from page 328 ...
Collecting data from page 329 ...
Collecting data from page 330 ...
Collecting data from page 331 ...
Collecting data from page 332 ...
Collecting data from page 333 ...
Collecting data from page 334 ...
Collecting data from page 335 ...
Collecting data from page 336 ...
Collecting data from page 337 ...
Collecting data from page 338 ...
Collecting data from page 339 ...
Collecting data from page 340 ...
Collecting data from page 341 ...
Collecting data from page 342 ...
Collecting data from page 343 ...
Collecting data from page 344 ...
Collecting data from page 345 ...
Collecting data from page 346 ...
Collecting data from page 347 ...
Collecting data from page 348 ...
Collecting data from page 349 ...
Collecting data from page 350 ...
Collecting data from page 351 ...
Collecting data from page 352 ...
Collecting data from page 353 ...
Collecting data from page 354 ...
Collecting data from page 355 ...
Collecting data from page 356 ...
Collecting data from page 357 ...
Collecting data from page 358 ...
Collecting data from page 359 ...
Collecting data from page 360 ...
Collecting data from page 361 ...
Collecting data from page 362 ...
Collecting data from page 363 ...
Collecting data from page 364 ...
Collecting data from page 365 ...
Collecting data from page 366 ...
Collecting data from page 367 ...
Collecting data from page 368 ...
Collecting data from page 369 ...
Collecting data from page 370 ...
Collecting data from page 371 ...
Collecting data from page 372 ...
Collecting data from page 373 ...
Collecting data from page 374 ...
Collecting data from page 375 ...
Collecting data from page 376 ...
Collecting data from page 377 ...
Collecting data from page 378 ...
Collecting data from page 379 ...
Collecting data from page 380 ...
Collecting data from page 381 ...
Collecting data from page 382 ...
Collecting data from page 383 ...
Collecting data from page 384 ...
Collecting data from page 385 ...
Collecting data from page 386 ...
Collecting data from page 387 ...
Collecting data from page 388 ...
Collecting data from page 389 ...
Collecting data from page 390 ...
Collecting data from page 391 ...
Collecting data from page 392 ...
Collecting data from page 393 ...
Collecting data from page 394 ...
Collecting data from page 395 ...
Collecting data from page 396 ...
Collecting data from page 397 ...
Collecting data from page 398 ...
Collecting data from page 399 ...
Collecting data from page 400 ...
Collecting data from page 401 ...
Collecting data from page 402 ...
Collecting data from page 403 ...
Collecting data from page 404 ...
Collecting data from page 405 ...
Collecting data from page 406 ...
Collecting data from page 407 ...
Collecting data from page 408 ...
Collecting data from page 409 ...
Collecting data from page 410 ...
Collecting data from page 411 ...
Collecting data from page 412 ...
Collecting data from page 413 ...
Collecting data from page 414 ...
Collecting data from page 415 ...
Collecting data from page 416 ...
Collecting data from page 417 ...
Collecting data from page 418 ...
Collecting data from page 419 ...
Collecting data from page 420 ...
Collecting data from page 421 ...
Collecting data from page 422 ...
Collecting data from page 423 ...
Collecting data from page 424 ...
Collecting data from page 425 ...
Collecting data from page 426 ...
Collecting data from page 427 ...
Collecting data from page 428 ...
Collecting data from page 429 ...
Collecting data from page 430 ...
Collecting data from page 431 ...
Collecting data from page 432 ...
Collecting data from page 433 ...
Collecting data from page 434 ...
Collecting data from page 435 ...
Collecting data from page 436 ...
Collecting data from page 437 ...
Collecting data from page 438 ...
Collecting data from page 439 ...
Collecting data from page 440 ...
Collecting data from page 441 ...
Collecting data from page 442 ...
Collecting data from page 443 ...
Collecting data from page 444 ...
Collecting data from page 445 ...
Collecting data from page 446 ...
Collecting data from page 447 ...
Collecting data from page 448 ...
Collecting data from page 449 ...
Collecting data from page 450 ...
Collecting data from page 451 ...
Collecting data from page 452 ...
Collecting data from page 453 ...
Collecting data from page 454 ...
Collecting data from page 455 ...
Collecting data from page 456 ...
Collecting data from page 457 ...
Collecting data from page 458 ...
Collecting data from page 459 ...
Collecting data from page 460 ...
Collecting data from page 461 ...
Collecting data from page 462 ...
Collecting data from page 463 ...
Collecting data from page 464 ...
Collecting data from page 465 ...
Collecting data from page 466 ...
Collecting data from page 467 ...
Collecting data from page 468 ...
Collecting data from page 469 ...
Collecting data from page 470 ...
Collecting data from page 471 ...
Collecting data from page 472 ...
Collecting data from page 473 ...
Collecting data from page 474 ...
Collecting data from page 475 ...
Collecting data from page 476 ...
Collecting data from page 477 ...
Collecting data from page 478 ...
Collecting data from page 479 ...
Collecting data from page 480 ...
Collecting data from page 481 ...
Collecting data from page 482 ...
Collecting data from page 483 ...
Collecting data from page 484 ...
Collecting data from page 485 ...
Collecting data from page 486 ...
Collecting data from page 487 ...
Collecting data from page 488 ...
Collecting data from page 489 ...
Collecting data from page 490 ...
Collecting data from page 491 ...
Collecting data from page 492 ...
Collecting data from page 493 ...
Collecting data from page 494 ...
Collecting data from page 495 ...
Collecting data from page 496 ...
Collecting data from page 497 ...
Collecting data from page 498 ...
Collecting data from page 499 ...
Collecting data from page 500 ...
Collecting data from page 501 ...
Collecting data from page 502 ...
Collecting data from page 503 ...
Collecting data from page 504 ...
Collecting data from page 505 ...
Collecting data from page 506 ...
Collecting data from page 507 ...
Collecting data from page 508 ...
Collecting data from page 509 ...
Collecting data from page 510 ...
Collecting data from page 511 ...
Collecting data from page 512 ...
Collecting data from page 513 ...
Collecting data from page 514 ...
Collecting data from page 515 ...
Collecting data from page 516 ...
Collecting data from page 517 ...
Collecting data from page 518 ...
Collecting data from page 519 ...
Collecting data from page 520 ...
Collecting data from page 521 ...
Collecting data from page 522 ...
Collecting data from page 523 ...
Collecting data from page 524 ...
Collecting data from page 525 ...
Collecting data from page 526 ...
Collecting data from page 527 ...
Collecting data from page 528 ...
Collecting data from page 529 ...
Collecting data from page 530 ...
Collecting data from page 531 ...
Collecting data from page 532 ...
Collecting data from page 533 ...
Collecting data from page 534 ...
Collecting data from page 535 ...
Collecting data from page 536 ...
Collecting data from page 537 ...
Collecting data from page 538 ...
Collecting data from page 539 ...
Collecting data from page 540 ...
Collecting data from page 541 ...
Collecting data from page 542 ...
Collecting data from page 543 ...
Collecting data from page 544 ...
Collecting data from page 545 ...
Collecting data from page 546 ...
Collecting data from page 547 ...
Collecting data from page 548 ...
Collecting data from page 549 ...
Collecting data from page 550 ...
Collecting data from page 551 ...
Collecting data from page 552 ...
Collecting data from page 553 ...
Collecting data from page 554 ...
Collecting data from page 555 ...
Collecting data from page 556 ...
Collecting data from page 557 ...
Collecting data from page 558 ...
Collecting data from page 559 ...
Collecting data from page 560 ...
Collecting data from page 561 ...
Collecting data from page 562 ...
Collecting data from page 563 ...
Collecting data from page 564 ...
Collecting data from page 565 ...
Collecting data from page 566 ...
Collecting data from page 567 ...
Collecting data from page 568 ...
Collecting data from page 569 ...
Collecting data from page 570 ...
Collecting data from page 571 ...
Collecting data from page 572 ...
Collecting data from page 573 ...
Collecting data from page 574 ...
Collecting data from page 575 ...
Collecting data from page 576 ...
Collecting data from page 577 ...
Collecting data from page 578 ...
Collecting data from page 579 ...
Collecting data from page 580 ...
Collecting data from page 581 ...
Collecting data from page 582 ...
Collecting data from page 583 ...
Collecting data from page 584 ...
Collecting data from page 585 ...
Collecting data from page 586 ...
Collecting data from page 587 ...
Collecting data from page 588 ...
Collecting data from page 589 ...
Collecting data from page 590 ...
Collecting data from page 591 ...

In [22]:
# save to csv
property_df.to_csv("../raw_data/house_unclean_data.csv", index=False)

## Data Cleaning

## Load Data

In [2]:
property_df = pd.read_csv("house_unclean_data.csv")
property_df

,title,type,address,description,price,extra
0,3 Bedroom Apartment In Ologolo,3 bedroom flat / apartment for rent,"Ologolo, Lekki, Lagos",\n\nSelf serviced\n3bedroom fr rent in ologolo...,"\n₦3,500,000 per annum",3 Bedrooms3 Bathrooms3 Toilets Save
1,Luxury 2 Bedroom Apartment,2 bedroom flat / apartment for rent,"Newtown Estate, Ogombo, Ajah, Lagos",\n\nBrand new\ngood water\nluxury home\nfitted...,"\n₦1,300,000 per annum",2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...
2,Well Maintained 5 Bedroom Detached Duplex With Bq,5 bedroom detached duplex for rent,"Lekki Phase 1, Lekki, Lagos",\n\nWell maintained 5 bedroom detached duplex ...,"\n₦20,000,000 per annum",5 Bedrooms5 Bathrooms6 Toilets3 Parking Spaces...
3,Refurbished 3 Bedroom Luxury Flat With Bq,3 bedroom flat / apartment for rent,"Lekki Phase 1, Lekki, Lagos",\n\nRefurbished 3 bedroom luxury flats with bq...,"\n₦8,500,000 per annum",3 Bedrooms3 Bathrooms3 Toilets3 Parking Spaces...
4,Slick 2 Bedroom Apartment In Ologolo,2 bedroom flat / apartment for rent,"Ologolo, Lekki, Lagos",\n\n2 bedroom apartmemt for rent\nrent 2.8m\ns...,"\n₦2,800,000 per annum",2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...
...,...,...,...,...,...,...
22419,A Fully Furnished 4 Bedroom Semi-detached Duplex,4 bedroom semi-detached duplex for rent,"Spg Road, Igbo-efon, Lekki, Lagos",\n\nA fully furnished 4 bedroom semi-detached ...,"\n₦4,000,000 per annum",4 Bedrooms4 Bathrooms5 Toilets3 Parking Spaces...
22420,Furnished 3 Bedroom Flat,3 bedroom flat / apartment for rent,"Coral Beach Estate, Lekki Free Trade Zone, L...",\n\nFurnished 3 bedroom apartment at coral bea...,"\n₦6,000,000 per annum",3 Bedrooms4 Bathrooms4 Toilets Save
22421,Executive All Rooms En-suite 3 Bedroom,3 bedroom terraced duplex for rent,"Lekki Gardens Phase 2, Ajah, Lagos",\n\nExecutive all rooms 3 bedroom corner piece...,"\n₦2,200,000 per annum",3 Bedrooms3 Bathrooms4 Toilets4 Parking Spaces...
22422,"Shop Space, Upstairs",Shop for rent,"Adebayo Doherty Road, Lekki Phase 1, Lekki, ...",\n\nShop space upstairs on adebayo doherty roa...,"\n₦2,500,000 per annum",1 Toilet Save
22423,A Very Spacious Commercial Space,Plaza / complex / mall for rent,"Admiralty Way, Lekki Phase 1, Lekki, Lagos",\n\nVery spacious commercial shop on admiralty...,"\n₦3,000,000 per annum",1 Bathroom1 Toilet10 Parking Spaces45 sqm Tota...

## Data Inspection

In [3]:
property_df.head()

,title,type,address,description,price,extra
0,3 Bedroom Apartment In Ologolo,3 bedroom flat / apartment for rent,"Ologolo, Lekki, Lagos",\n\nSelf serviced\n3bedroom fr rent in ologolo...,"\n₦3,500,000 per annum",3 Bedrooms3 Bathrooms3 Toilets Save
1,Luxury 2 Bedroom Apartment,2 bedroom flat / apartment for rent,"Newtown Estate, Ogombo, Ajah, Lagos",\n\nBrand new\ngood water\nluxury home\nfitted...,"\n₦1,300,000 per annum",2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...
2,Well Maintained 5 Bedroom Detached Duplex With Bq,5 bedroom detached duplex for rent,"Lekki Phase 1, Lekki, Lagos",\n\nWell maintained 5 bedroom detached duplex ...,"\n₦20,000,000 per annum",5 Bedrooms5 Bathrooms6 Toilets3 Parking Spaces...
3,Refurbished 3 Bedroom Luxury Flat With Bq,3 bedroom flat / apartment for rent,"Lekki Phase 1, Lekki, Lagos",\n\nRefurbished 3 bedroom luxury flats with bq...,"\n₦8,500,000 per annum",3 Bedrooms3 Bathrooms3 Toilets3 Parking Spaces...
4,Slick 2 Bedroom Apartment In Ologolo,2 bedroom flat / apartment for rent,"Ologolo, Lekki, Lagos",\n\n2 bedroom apartmemt for rent\nrent 2.8m\ns...,"\n₦2,800,000 per annum",2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...

In [4]:
property_df.tail()

,title,type,address,description,price,extra
22419,A Fully Furnished 4 Bedroom Semi-detached Duplex,4 bedroom semi-detached duplex for rent,"Spg Road, Igbo-efon, Lekki, Lagos",\n\nA fully furnished 4 bedroom semi-detached ...,"\n₦4,000,000 per annum",4 Bedrooms4 Bathrooms5 Toilets3 Parking Spaces...
22420,Furnished 3 Bedroom Flat,3 bedroom flat / apartment for rent,"Coral Beach Estate, Lekki Free Trade Zone, L...",\n\nFurnished 3 bedroom apartment at coral bea...,"\n₦6,000,000 per annum",3 Bedrooms4 Bathrooms4 Toilets Save
22421,Executive All Rooms En-suite 3 Bedroom,3 bedroom terraced duplex for rent,"Lekki Gardens Phase 2, Ajah, Lagos",\n\nExecutive all rooms 3 bedroom corner piece...,"\n₦2,200,000 per annum",3 Bedrooms3 Bathrooms4 Toilets4 Parking Spaces...
22422,"Shop Space, Upstairs",Shop for rent,"Adebayo Doherty Road, Lekki Phase 1, Lekki, ...",\n\nShop space upstairs on adebayo doherty roa...,"\n₦2,500,000 per annum",1 Toilet Save
22423,A Very Spacious Commercial Space,Plaza / complex / mall for rent,"Admiralty Way, Lekki Phase 1, Lekki, Lagos",\n\nVery spacious commercial shop on admiralty...,"\n₦3,000,000 per annum",1 Bathroom1 Toilet10 Parking Spaces45 sqm Tota...

In [5]:
property_df.sample(3)

,title,type,address,description,price,extra
4896,3 Bedroom Luxury Apartments,3 bedroom flat / apartment for rent,"Off Kingsway Road, Ikoyi, Lagos",\n\nLuxury 3-bedroom apartments for rent in ik...,"\n$44,000 per annum \napprox. ₦69,381,394\n",3 Bedrooms3 Bathrooms4 Toilets Save
11096,3 Bedroom Flat,3 bedroom flat / apartment for rent,"Ikota Villa Estate, Ikota, Lekki, Lagos","\n\n3 bedroom flat for rent\nprice: ₦2,500,000...","\n₦2,500,000 per annum",3 Bedrooms3 Bathrooms4 Toilets Save
16717,"Open Plan Office Space (460sqm Per Floor, Tota...",Office space for rent,"Victoria Island (VI), Lagos",\n\nFor lease:\ndescription: open plan office ...,"\n₦150,000 per square meter / per annum",Save

In [6]:
property_df.columns

Index(['title', 'type', 'address', 'description', 'price', 'extra'], dtype='object')

In [7]:
property_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22424 entries, 0 to 22423
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        22424 non-null  object
 1   type         22424 non-null  object
 2   address      22424 non-null  object
 3   description  22424 non-null  object
 4   price        22424 non-null  object
 5   extra        22424 non-null  object
dtypes: object(6)
memory usage: 1.0+ MB

In [8]:
property_df.shape

(22424, 6)

In [9]:
# check duplicates
property_df.duplicated().sum()

177

In [10]:
# drop duplicates
property_df.drop_duplicates(inplace=True)

In [11]:
# confirm duplicates has been removed
property_df.duplicated().sum()

0

## Data Cleaning

In [12]:
# remove white spaces
property_df["title"] = property_df["title"].str.strip()

In [15]:
property_df["title"].nunique()

14858

In [17]:
# remove inconsistences 
property_df["type"] = property_df["type"].str.replace("for rent", "").str.replace("bedroom", "")
property_df["type"] = property_df["type"].str.replace(r"^\d+\s*", "", regex=True)
property_df["type"] = property_df["type"].str.strip()

In [18]:
# remove white spaces
property_df["address"] = property_df["address"].str.strip()

In [19]:
# remove white spaces
property_df["description"] = property_df["description"].str.strip()
property_df["description"] = property_df["description"].str.replace("\n\n", "")

In [20]:
# remove inconsistences 
property_df["price"] = property_df["price"].str.replace(",", "")
property_df["price"] = property_df["price"].str.replace("/", "")
property_df["price"] = property_df["price"].str.replace("₦", "")
property_df["price"] = property_df["price"].str.replace("per annum", "")
property_df["price"] = property_df["price"].str.replace("per square meter", "")
property_df["price"] = property_df["price"].str.strip()

In [21]:
property_df.head()

,title,type,address,description,price,extra
0,3 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",Self serviced\n3bedroom fr rent in ologolo\nre...,3500000,3 Bedrooms3 Bathrooms3 Toilets Save
1,Luxury 2 Bedroom Apartment,flat / apartment,"Newtown Estate, Ogombo, Ajah, Lagos",Brand new\ngood water\nluxury home\nfitted kit...,1300000,2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...
2,Well Maintained 5 Bedroom Detached Duplex With Bq,detached duplex,"Lekki Phase 1, Lekki, Lagos",Well maintained 5 bedroom detached duplex with...,20000000,5 Bedrooms5 Bathrooms6 Toilets3 Parking Spaces...
3,Refurbished 3 Bedroom Luxury Flat With Bq,flat / apartment,"Lekki Phase 1, Lekki, Lagos",Refurbished 3 bedroom luxury flats with bq ava...,8500000,3 Bedrooms3 Bathrooms3 Toilets3 Parking Spaces...
4,Slick 2 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",2 bedroom apartmemt for rent\nrent 2.8m\nservi...,2800000,2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...

## Feature Engineering

In [22]:
# Feature engineering
# split column extra: bedrooms, bathrooms, toilets
def extract_extra_features(text):
    features = {
        "bedrooms" : 0,
        "bathrooms" : 0,
        "toilets" : 0,
        "parking_spaces" : 0
    }

    patterns = {
        "bedrooms" : r"(\d+)\s*Bedrooms?",
        "bathrooms" : r"(\d+)\s*Bathrooms?",
        "toilets" : r"(\d+)\s*Toilets?",
        "parking_spaces" : r"(\d+)\s*Parking\s*Spaces?"
    }

    for feature, pattern in patterns.items():
        match = re.search(pattern, text, re.IGNORECASE)
        if match:
            features[feature] = int(match.group(1))
    return features

In [23]:
property_df

,title,type,address,description,price,extra
0,3 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",Self serviced\n3bedroom fr rent in ologolo\nre...,3500000,3 Bedrooms3 Bathrooms3 Toilets Save
1,Luxury 2 Bedroom Apartment,flat / apartment,"Newtown Estate, Ogombo, Ajah, Lagos",Brand new\ngood water\nluxury home\nfitted kit...,1300000,2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...
2,Well Maintained 5 Bedroom Detached Duplex With Bq,detached duplex,"Lekki Phase 1, Lekki, Lagos",Well maintained 5 bedroom detached duplex with...,20000000,5 Bedrooms5 Bathrooms6 Toilets3 Parking Spaces...
3,Refurbished 3 Bedroom Luxury Flat With Bq,flat / apartment,"Lekki Phase 1, Lekki, Lagos",Refurbished 3 bedroom luxury flats with bq ava...,8500000,3 Bedrooms3 Bathrooms3 Toilets3 Parking Spaces...
4,Slick 2 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",2 bedroom apartmemt for rent\nrent 2.8m\nservi...,2800000,2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...
...,...,...,...,...,...,...
22419,A Fully Furnished 4 Bedroom Semi-detached Duplex,semi-detached duplex,"Spg Road, Igbo-efon, Lekki, Lagos",A fully furnished 4 bedroom semi-detached dupl...,4000000,4 Bedrooms4 Bathrooms5 Toilets3 Parking Spaces...
22420,Furnished 3 Bedroom Flat,flat / apartment,"Coral Beach Estate, Lekki Free Trade Zone, Lek...",Furnished 3 bedroom apartment at coral beach e...,6000000,3 Bedrooms4 Bathrooms4 Toilets Save
22421,Executive All Rooms En-suite 3 Bedroom,terraced duplex,"Lekki Gardens Phase 2, Ajah, Lagos",Executive all rooms 3 bedroom corner piece ter...,2200000,3 Bedrooms3 Bathrooms4 Toilets4 Parking Spaces...
22422,"Shop Space, Upstairs",Shop,"Adebayo Doherty Road, Lekki Phase 1, Lekki, Lagos",Shop space upstairs on adebayo doherty road le...,2500000,1 Toilet Save
22423,A Very Spacious Commercial Space,Plaza / complex / mall,"Admiralty Way, Lekki Phase 1, Lekki, Lagos",Very spacious commercial shop on admiralty way...,3000000,1 Bathroom1 Toilet10 Parking Spaces45 sqm Tota...

In [24]:
facilities = property_df["extra"].apply(extract_extra_features).apply(pd.Series)
facilities

       bedrooms  bathrooms  toilets  parking_spaces
0             3          3        3               0
1             2          2        3               2
2             5          5        6               3
3             3          3        3               3
4             2          2        3               2
...         ...        ...      ...             ...
22419         4          4        5               3
22420         3          4        4               0
22421         3          3        4               4
22422         0          0        1               0
22423         0          1        1              10

[22247 rows x 4 columns]

In [25]:
# concatenate the dataframe
property_df = pd.concat([property_df, facilities], axis=1)
property_df.head()

,title,type,address,description,price,extra,bedrooms,bathrooms,toilets,parking_spaces
0,3 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",Self serviced\n3bedroom fr rent in ologolo\nre...,3500000,3 Bedrooms3 Bathrooms3 Toilets Save,3,3,3,0
1,Luxury 2 Bedroom Apartment,flat / apartment,"Newtown Estate, Ogombo, Ajah, Lagos",Brand new\ngood water\nluxury home\nfitted kit...,1300000,2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...,2,2,3,2
2,Well Maintained 5 Bedroom Detached Duplex With Bq,detached duplex,"Lekki Phase 1, Lekki, Lagos",Well maintained 5 bedroom detached duplex with...,20000000,5 Bedrooms5 Bathrooms6 Toilets3 Parking Spaces...,5,5,6,3
3,Refurbished 3 Bedroom Luxury Flat With Bq,flat / apartment,"Lekki Phase 1, Lekki, Lagos",Refurbished 3 bedroom luxury flats with bq ava...,8500000,3 Bedrooms3 Bathrooms3 Toilets3 Parking Spaces...,3,3,3,3
4,Slick 2 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",2 bedroom apartmemt for rent\nrent 2.8m\nservi...,2800000,2 Bedrooms2 Bathrooms3 Toilets2 Parking Spaces...,2,2,3,2

In [26]:
# delete extra column
property_df.drop(columns=["extra"], inplace=True)

In [27]:
property_df.head()

,title,type,address,description,price,bedrooms,bathrooms,toilets,parking_spaces
0,3 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",Self serviced\n3bedroom fr rent in ologolo\nre...,3500000,3,3,3,0
1,Luxury 2 Bedroom Apartment,flat / apartment,"Newtown Estate, Ogombo, Ajah, Lagos",Brand new\ngood water\nluxury home\nfitted kit...,1300000,2,2,3,2
2,Well Maintained 5 Bedroom Detached Duplex With Bq,detached duplex,"Lekki Phase 1, Lekki, Lagos",Well maintained 5 bedroom detached duplex with...,20000000,5,5,6,3
3,Refurbished 3 Bedroom Luxury Flat With Bq,flat / apartment,"Lekki Phase 1, Lekki, Lagos",Refurbished 3 bedroom luxury flats with bq ava...,8500000,3,3,3,3
4,Slick 2 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",2 bedroom apartmemt for rent\nrent 2.8m\nservi...,2800000,2,2,3,2

In [28]:
# extract location from address
def extract_location(text):
    location = text.split(",")[-2]
    return location

In [29]:
property_df["location"] = property_df["address"].apply(extract_location)

In [31]:
property_df["location"] = property_df["location"].str.strip()

In [33]:
property_df["location"].unique()

array(['Lekki', 'Ajah', 'Victoria Island (VI)', 'Ojodu', 'Ikeja', 'Ikoyi',
       'Maryland', 'Magodo', 'Surulere', 'Gbagada', 'Ibeju Lekki',
       'Isheri North', 'Yaba', 'Ketu', 'Ilupeju', 'Agbara-Igbesa',
       'Amuwo Odofin', 'Ikorodu', 'Ikotun', 'Agege', 'Ogudu', 'Shomolu',
       'Epe', 'Eko Atlantic City', 'Isolo', 'Ipaja', 'Ojo',
       'Lagos Island', 'Kosofe', 'Ayobo', 'Oshodi', 'Ibeju', 'Mushin',
       'Alimosho', 'Ifako-Ijaiye', 'Apapa', 'Ojota', 'Orile', 'Isheri',
       'Egbe', 'Ilashe', 'Iganmu', 'Ijesha', 'Idimu', 'Ejigbo', 'Ijede'],
      dtype=object)

In [34]:
property_df["location"].nunique()

46

In [49]:
property_df["type"].unique()

array(['flat / apartment', 'detached duplex', 'semi-detached duplex',
       'terraced duplex', 'mini flat (room and parlour)',
       'Self contain (single rooms)', 'commercial property', 'house',
       'Commercial land', 'Office space', 'terraced bungalow',
       'Mixed-use land', 'block of flats', 'office space', 'Shop', 'Land',
       'detached bungalow', 'Plaza / complex / mall', 'Terraced duplex',
       'semi-detached bungalow', 'Warehouse', 'Restaurant / bar',
       'Commercial property', 'restaurant / bar', 'hotel / guest house',
       'Filling station', 'School', 'House', 'Church', 'Flat / apartment',
       'Residential land', 'Hall', 'Hotel / guest house',
       'Industrial land', 'Tank farm', 'shop',
       'Conference / meeting / training room', 'Block of flats',
       'Factory', 'Event centre / venue'], dtype=object)

In [50]:
property_df["location"].nunique()

46

In [35]:
# check data types
property_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22247 entries, 0 to 22423
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           22247 non-null  object
 1   type            22247 non-null  object
 2   address         22247 non-null  object
 3   description     22247 non-null  object
 4   price           22247 non-null  object
 5   bedrooms        22247 non-null  int64
 6   bathrooms       22247 non-null  int64
 7   toilets         22247 non-null  int64
 8   parking_spaces  22247 non-null  int64
 9   location        22247 non-null  object
dtypes: int64(4), object(6)
memory usage: 1.9+ MB

In [36]:
# remove whitespaces
property_df["price"] = property_df["price"].str.strip()

In [37]:
property_df["price"].unique()

array(['3500000', '1300000', '20000000', '8500000', '2800000', '6500000',
       '25000000', '5000000', '1000000', '2500000', '12000000', '1200000',
       '2000000', '1700000', '950000', '4000000', '8000000', '7000000',
       '6000000', '3000000', '5500000', '3600000', '16000000', '15000000',
       '750000', '10000000', '2300000', '900000', '18000000', '650000',
       '1500000', '3200000', '100000000', '3800000', '11000000',
       '$15000  \napprox. 23652748', '2700000', '4500000', '3250000',
       '50000000', '13000000', '60000000', '9000000', '250000000',
       '7500000', '700000', '40000000', '1400000', '30000000', '800000',
       '450000', '190000 per month', '1800000', '2200000', '35000000',
       '900000000', '500000', '1100000', '12500000', '210000 per month',
       '180000 per month', '200000 per month', '220000 per month',
       '600000', '1600000', '400000', '280000000',
       '$22000  \napprox. 34690697', '80000000', '550000', '300000',
       '560000', '59999999', '29999999', '1250000', '17000000',
       '1000000 per month', '950000 per month', '420000 per month',
       '400000 per month', '650000 per month', '110572000', '14000000',
       '3700000', '70000000', '350000', '17999999', '14999999',
       '22000000', '65000000', '11600000', '$700    \napprox. 1103795',
       '200000', '13500000', '$400    \napprox. 630740', '39999999',
       '24999100', '250000', '1350000', '$39999  \napprox. 63072418',
       '110000', '150000000', '180000000', '70000', '45000000', '850000',
       '75000000', '750000000', '24375000', '300000 per month', '3400000',
       '2400000', '900000 per month', '55000', '4200000', '36000000',
       '90000', '19000000', '$40000  \napprox. 63073995',
       '$80000  \napprox. 126147989', '$24000  \napprox. 37844397',
       '90000000', '350000 per month', '750000 per month', '2600000',
       '400000000', '4300000', '7300000', '52715000',
       '$650  \napprox. 1024952', '23000000', '11500000', '180000',
       '45000', '130000', '75000', '425000 per day', '430000 per day',
       '60000', '16999999', '8250000', '120000', '80000', '10500000',
       '4100000', '17500000', '500000 per day', '65000', '3300000',
       '200000000', '$95000  \napprox. 149800737', '170000',
       '1500000 per month', '450000 per month', '1750000', '18500000',
       '150000', '1900000', '2100000', '170000000', '1200000 per month',
       '2000080', '32000', '105000000', '16800000', '99750000',
       '$75000  \napprox. 118263740', '$85000  \napprox. 134032239',
       '85000', '6400000', '15500000', '100000', '260000 per month',
       '55000000', '24999900', '14500000', '9500000', '150000 per month',
       '220000', '6200000', '$60000  \napprox. 94610992', '1000000000',
       '21600000', '24999910', '110000000', '30000', '50000',
       '3000 per square foot', '360000', '320000', '66000 per hour',
       '220000000', '$38000  \napprox. 59920295', '70000004',
       '$50000  \napprox. 78842493', '28000000', '4800000', '85000000',
       '52000000', '130000000', '$25000  \napprox. 39421247', '160000000',
       '35000', '22500000', '29999800', '$35000  \napprox. 55189745',
       '2500000 per day', '5200000 per day', '10000   per month',
       '26000000', '140000000', '70000   per month', '24225000',
       '75000   per month', '240000000', '400000 per square foot',
       '8000   per month', '530000', '3500 per square foot', '10001500',
       '980000000', '360000000', '24000000', '10800000', '23500000',
       '21000000', '32000000', '29999900', '18000150', '25000', '3000',
       '700000 per month', '$20000  \napprox. 31536997', '24999999',
       '160000', '210000', '$120000  \napprox. 189221984',
       '180000   per month', '53000000', '40000   per month', '24900000',
       '25000 per month', '49000000', '127000000', '800000 per month',
       '37000000', '7200000', '$500    \napprox. 788425',
       '$2500000  \napprox. 3942124663', '$90000  \napprox. 141916488',
       '120000000', '$650    \napprox. 1024952',
       '$715    \napprox. 1127448', '$580    \napprox. 914573', '42000',
       '165000000', '$95001  \napprox. 149802314',
       '$600    \napprox. 946110', '25001500', '210000000', '109999999',
       '20000', '40000010', '22000001', '40000011', '59000000',
       '$86000  \napprox. 135609088', '$60015  \napprox. 94634645',
       '35500000', '42210000', '4375000', '250000 per month',
       '38000 per square foot', '20800000', '$350  \napprox. 551897',
       '95835600', '115000000', '16500000', '140000',
       '$30000  \napprox. 47305496', '$40011  \napprox. 63091340',
       '$550    \napprox. 867267', '$105000  \napprox. 165569236',
       '6800000', '316000000', '270000', '$44000  \napprox. 69381394',
       '95000   per month', '12300000', '$150000  \napprox. 236527480',
       '5300000', '5200000', '125000000', '1100000000', '54000000',
       '$60000000  \napprox. 94610991900', '27000000', '500000000',
       '350000000', '4700000', '2500 per square foot', '1920000', '40000',
       '$55000  \napprox. 86726743', '190000', '600000 per month',
       '49650000', '$350000  \napprox. 551897453',
       '$100000  \napprox. 157684987', '165000', '270000000', '7355700',
       '95000', '$750    \napprox. 1182637', '$45000  \napprox. 70958244',
       '630000', '10535000', '3100000', '52780000',
       '$680    \napprox. 1072258', '22000010', '12600000', '1050000',
       '95000000', '360000 per month', '2950000', '40000 per square foot',
       '122600000', '170000 per month', '80000 per month', '33000000',
       '230000 per month', '92000000', '135000', '3960000', '22050000',
       '5400000', '92000', '26125000', '4250000',
       '$200000  \napprox. 315369973', '4750000',
       '$60005  \napprox. 94618876', '70000 per month', '60000 per month',
       '270000 per month', '245000000', '14990000', '200000 per day',
       '350000 per day', '450000000',
       '$130000000  \napprox. 204990482450', '42194700', '40500000',
       '950000000', '108000000', '$55555  \napprox. 87601894',
       '$350    \napprox. 551897', '48000000', '1805000',
       '1700000 per month', '4000000 per month', '18400000', '4875000',
       '12000', '2750000', '515000 per month', '1300000 per month',
       '63000 per month', '2500000 per month', '$395    \napprox. 622856',
       '2000 per square foot', '160000 per month', '1600000 per month',
       '2000000 per day', '195000000', '130000 per month', '15000150',
       '375000', '181808000', '135000000', '1800000 per month',
       '86000 per month', '143000 per month', '330000', '11550500',
       '20500000', '$65000  \napprox. 102495241', '3000000 per month',
       '$70000  \napprox. 110379491', '51800000', '65000 per month',
       '10270000 per month', '$445500  \napprox. 702486615',
       '$450    \napprox. 709582', '$700  \napprox. 1103795',
       '$130000  \napprox. 204990482', '280000', '2650000 per month',
       '10000', '15000', '562500', '536250', '337500', '487500', '185000',
       '371300', '175000', '523900', '475000 per month',
       '$250000  \napprox. 394212466', '3200000 per day', '32200000',
       '1400000 per day', '6600000', '9600000', '4500000 per month',
       '60000   per month', '7800000', '$505050  \napprox. 796388024',
       '$633000  \napprox. 998145965', '115000', '2700 per square foot',
       '26500', '6000000000', '22000',
       '$135000000  \napprox. 212874731775', '19500000', '800000000',
       '2000000 per month', '13800000', '95000 per month', '3650000',
       '18200000', '300000000', '1870000', '68000000',
       '50000   per month', '120000 per square foot', '230000', '59000',
       '19999999', '570000 per month', '3625000', '1550000', '93450000',
       '$1500    \napprox. 2365275', '155000000', '367000',
       '$625000  \napprox. 985531166', '550000 per month', '49999999',
       '840000000', '120000 per month', '100000 per month',
       '1400000 per month', '25000011', '25000050', '31000000',
       '230000000', '3900000', '775000',
       '$100000000  \napprox. 157684986500', '18900000',
       '$39000  \napprox. 61497145', '$68000  \napprox. 107225791',
       '380000000', '5292500', '$400   per month \napprox. 630740',
       '$800    \napprox. 1261480', '55005000', '5700000', '600000000',
       '35000 per month', '1850000', '16510000',
       '$300000  \napprox. 473054960', '150000 per day',
       '50000 per square foot', '3080000', '28800000', '5800000',
       '480000 per month', '150000 per square foot', '4600000', '8750000',
       '1595000 per day', '69000000', '21300000', '6000000 per month',
       '29990000', '24999990', '17001111', '156000000', '120000 per day',
       '37800000', '600000 per day', '36000', '1900000 per month',
       '7820000', '47000000', '460000000', '500000 per month',
       '$650   per month \napprox. 1024952', '1150000', '3640000',
       '166000000', '3750000', '550000 per day', '1800000 per day',
       '5500000 per day', '800000 per day', '3000000 per day',
       '5000000 per day', '1500000 per day', '1700000 per day',
       '1200000 per day', '950000 per day', '900000 per day',
       '200000 per hour', '3700000 per day', '8000 per hour',
       '12000 per hour', '10000 per hour', '340000', '2900000',
       '175000000', '1800 per square foot', '520000000', '17556000',
       '2040000', '17000004', '37500000', '27999999',
       '$820    \napprox. 1293017', '$8000    \napprox. 12614799',
       '30000 per square foot', '59999990', '116000', '700000000',
       '6850000', '140000 per month', '77350000',
       '$251038  \napprox. 395849236', '240000', '50400000', '2250000',
       '$725    \napprox. 1143216', '35000   per month',
       '13000   per month', '12000   per month', '8500   per month',
       '11000   per month', '90000   per month', '145000000', '550000000',
       '$149999  \napprox. 236525903', '30000010', '25000055',
       '212000000', '30000550', '59900000', '25001550', '100000900',
       '42000000', '275000 per month', '3300000000',
       '$76000  \napprox. 119840590', '3975000',
       '$400000    \napprox. 630739946', '320000 per month',
       '1100000 per month', '25000 per square foot', '1500000000',
       '34999999', '25200000', '2500000000', '20000 per hour', '41000000',
       '22000011', '25000555', '14999000', '$149500  \napprox. 235739055',
       '150000   per month', '67000000', '1650000', '84000000', '420000',
       '31999990', '190000000', '96000', '8580000',
       '3200 per square foot', '24578000', '14175000', '108000 per day',
       '100000 per square foot', '28500000', '1650000 per month',
       '370000', '740000', '26000', '28100000', '$50    \napprox. 78842',
       '40700000', '98980000', '38000000', '6300000',
       '$600000  \napprox. 946109919', '7280000', '12390000', '195000',
       '50000 per month', '39000000', '144000000',
       '$488855  \napprox. 770850941', '$237816  \napprox. 375000127',
       '295000000', '29900000', '$300    \napprox. 473055', '28010000',
       '80000011', '$40001  \napprox. 63075571', '15100000',
       '770000 per month', '75000 per square foot', '1705000',
       '30000 per hour', '27500000', '2042000',
       '$2000 per month \napprox. 3153700', '80000 per day', '69160000',
       '18000000 per month', '850000 per month', '280000 per day',
       '6500000000', '5780000', '6545000', '105000', '1450000', '260000',
       '$14000  \napprox. 22075898', '$550  \napprox. 867267', '3150000',
       '1560000', '35000 per square foot', '18150000', '18000005',
       '10000 per month', '32010000', '21000100', '12000001', '30000005',
       '30001010', '380000', '4500 per square foot  per month',
       '30060000', '290000 per month', '$35800  \napprox. 56451225',
       '43000', '24325000', '28600000', '64000000', '5500000 per month',
       '$204000  \napprox. 321677372', '28000', '7700000', '76080000',
       '$60111  \napprox. 94786022', '20000050', '25000001', '6080000',
       '2800 per square foot', '$1700000  \napprox. 2680644771',
       '3780000', '2800000000', '3500000 per month', '77500000',
       '300000 per day', '44000000', '$250    \napprox. 394212',
       '9900000', '330000000', '8000005', '197000000',
       '$20001  \napprox. 31538574', '30005000', '17000500', '30000110',
       '8200000', '2000', '20000 per day',
       '$1400000  \napprox. 2207589811', '84600000', '20000000 per month',
       '23010000', '66900000', '3200 per square foot  per month',
       '$225000  \napprox. 354791220', '20000550', '25005550', '10000050',
       '35000555', '21550500', '9800000', '20000100', '250000 per day',
       '11050000', '830000', '3000 per square foot  per month',
       '20860000', '8500', '49500000', '67200000', '29000000',
       '$38555  \napprox. 60795447', '$38110  \napprox. 60093748',
       '35100100', '20000010', '20000110', '8050000',
       '$60001  \napprox. 94612569', '$60010  \napprox. 94626760',
       '25500000', '$20011  \napprox. 31554343', '10500550', '32000500',
       '15000011', '19600000', '22400000', '3100000 per day',
       '130000 per square foot', '2500', '125000', '2900 per square foot',
       '$1300000  \napprox. 2049904825', '9999999', '34000000',
       '22001000', '17001010', '8680000', '750000 per square foot',
       '$137600  \napprox. 216974541', '1050000 per month', '30050000',
       '16000', '180000 per day', '27000   per month',
       '$33000  \napprox. 52036046', '25100000',
       '$240000  \napprox. 378443968', '18480000', '450000 per day',
       '23555000', '31200000', '18000011', '33000', '78400000',
       '10000550', '$850    \napprox. 1340322',
       '$655    \napprox. 1032837', '30005050',
       '35000 per calendar month', '18100100', '1850000 per month',
       '37500', '70000 per day', '20300000', '19800000', '23112500',
       '$40010  \napprox. 63089763', '23155000', '25000100', '30002100',
       '51000000', '32100000', '9100000', '81000000', '132500000000'],
      dtype=object)

In [38]:
property_df["price"].unique()

array(['3500000', '1300000', '20000000', '8500000', '2800000', '6500000',
       '25000000', '5000000', '1000000', '2500000', '12000000', '1200000',
       '2000000', '1700000', '950000', '4000000', '8000000', '7000000',
       '6000000', '3000000', '5500000', '3600000', '16000000', '15000000',
       '750000', '10000000', '2300000', '900000', '18000000', '650000',
       '1500000', '3200000', '100000000', '3800000', '11000000',
       '$15000  \napprox. 23652748', '2700000', '4500000', '3250000',
       '50000000', '13000000', '60000000', '9000000', '250000000',
       '7500000', '700000', '40000000', '1400000', '30000000', '800000',
       '450000', '190000 per month', '1800000', '2200000', '35000000',
       '900000000', '500000', '1100000', '12500000', '210000 per month',
       '180000 per month', '200000 per month', '220000 per month',
       '600000', '1600000', '400000', '280000000',
       '$22000  \napprox. 34690697', '80000000', '550000', '300000',
       '560000', '59999999', '29999999', '1250000', '17000000',
       '1000000 per month', '950000 per month', '420000 per month',
       '400000 per month', '650000 per month', '110572000', '14000000',
       '3700000', '70000000', '350000', '17999999', '14999999',
       '22000000', '65000000', '11600000', '$700    \napprox. 1103795',
       '200000', '13500000', '$400    \napprox. 630740', '39999999',
       '24999100', '250000', '1350000', '$39999  \napprox. 63072418',
       '110000', '150000000', '180000000', '70000', '45000000', '850000',
       '75000000', '750000000', '24375000', '300000 per month', '3400000',
       '2400000', '900000 per month', '55000', '4200000', '36000000',
       '90000', '19000000', '$40000  \napprox. 63073995',
       '$80000  \napprox. 126147989', '$24000  \napprox. 37844397',
       '90000000', '350000 per month', '750000 per month', '2600000',
       '400000000', '4300000', '7300000', '52715000',
       '$650  \napprox. 1024952', '23000000', '11500000', '180000',
       '45000', '130000', '75000', '425000 per day', '430000 per day',
       '60000', '16999999', '8250000', '120000', '80000', '10500000',
       '4100000', '17500000', '500000 per day', '65000', '3300000',
       '200000000', '$95000  \napprox. 149800737', '170000',
       '1500000 per month', '450000 per month', '1750000', '18500000',
       '150000', '1900000', '2100000', '170000000', '1200000 per month',
       '2000080', '32000', '105000000', '16800000', '99750000',
       '$75000  \napprox. 118263740', '$85000  \napprox. 134032239',
       '85000', '6400000', '15500000', '100000', '260000 per month',
       '55000000', '24999900', '14500000', '9500000', '150000 per month',
       '220000', '6200000', '$60000  \napprox. 94610992', '1000000000',
       '21600000', '24999910', '110000000', '30000', '50000',
       '3000 per square foot', '360000', '320000', '66000 per hour',
       '220000000', '$38000  \napprox. 59920295', '70000004',
       '$50000  \napprox. 78842493', '28000000', '4800000', '85000000',
       '52000000', '130000000', '$25000  \napprox. 39421247', '160000000',
       '35000', '22500000', '29999800', '$35000  \napprox. 55189745',
       '2500000 per day', '5200000 per day', '10000   per month',
       '26000000', '140000000', '70000   per month', '24225000',
       '75000   per month', '240000000', '400000 per square foot',
       '8000   per month', '530000', '3500 per square foot', '10001500',
       '980000000', '360000000', '24000000', '10800000', '23500000',
       '21000000', '32000000', '29999900', '18000150', '25000', '3000',
       '700000 per month', '$20000  \napprox. 31536997', '24999999',
       '160000', '210000', '$120000  \napprox. 189221984',
       '180000   per month', '53000000', '40000   per month', '24900000',
       '25000 per month', '49000000', '127000000', '800000 per month',
       '37000000', '7200000', '$500    \napprox. 788425',
       '$2500000  \napprox. 3942124663', '$90000  \napprox. 141916488',
       '120000000', '$650    \napprox. 1024952',
       '$715    \napprox. 1127448', '$580    \napprox. 914573', '42000',
       '165000000', '$95001  \napprox. 149802314',
       '$600    \napprox. 946110', '25001500', '210000000', '109999999',
       '20000', '40000010', '22000001', '40000011', '59000000',
       '$86000  \napprox. 135609088', '$60015  \napprox. 94634645',
       '35500000', '42210000', '4375000', '250000 per month',
       '38000 per square foot', '20800000', '$350  \napprox. 551897',
       '95835600', '115000000', '16500000', '140000',
       '$30000  \napprox. 47305496', '$40011  \napprox. 63091340',
       '$550    \napprox. 867267', '$105000  \napprox. 165569236',
       '6800000', '316000000', '270000', '$44000  \napprox. 69381394',
       '95000   per month', '12300000', '$150000  \napprox. 236527480',
       '5300000', '5200000', '125000000', '1100000000', '54000000',
       '$60000000  \napprox. 94610991900', '27000000', '500000000',
       '350000000', '4700000', '2500 per square foot', '1920000', '40000',
       '$55000  \napprox. 86726743', '190000', '600000 per month',
       '49650000', '$350000  \napprox. 551897453',
       '$100000  \napprox. 157684987', '165000', '270000000', '7355700',
       '95000', '$750    \napprox. 1182637', '$45000  \napprox. 70958244',
       '630000', '10535000', '3100000', '52780000',
       '$680    \napprox. 1072258', '22000010', '12600000', '1050000',
       '95000000', '360000 per month', '2950000', '40000 per square foot',
       '122600000', '170000 per month', '80000 per month', '33000000',
       '230000 per month', '92000000', '135000', '3960000', '22050000',
       '5400000', '92000', '26125000', '4250000',
       '$200000  \napprox. 315369973', '4750000',
       '$60005  \napprox. 94618876', '70000 per month', '60000 per month',
       '270000 per month', '245000000', '14990000', '200000 per day',
       '350000 per day', '450000000',
       '$130000000  \napprox. 204990482450', '42194700', '40500000',
       '950000000', '108000000', '$55555  \napprox. 87601894',
       '$350    \napprox. 551897', '48000000', '1805000',
       '1700000 per month', '4000000 per month', '18400000', '4875000',
       '12000', '2750000', '515000 per month', '1300000 per month',
       '63000 per month', '2500000 per month', '$395    \napprox. 622856',
       '2000 per square foot', '160000 per month', '1600000 per month',
       '2000000 per day', '195000000', '130000 per month', '15000150',
       '375000', '181808000', '135000000', '1800000 per month',
       '86000 per month', '143000 per month', '330000', '11550500',
       '20500000', '$65000  \napprox. 102495241', '3000000 per month',
       '$70000  \napprox. 110379491', '51800000', '65000 per month',
       '10270000 per month', '$445500  \napprox. 702486615',
       '$450    \napprox. 709582', '$700  \napprox. 1103795',
       '$130000  \napprox. 204990482', '280000', '2650000 per month',
       '10000', '15000', '562500', '536250', '337500', '487500', '185000',
       '371300', '175000', '523900', '475000 per month',
       '$250000  \napprox. 394212466', '3200000 per day', '32200000',
       '1400000 per day', '6600000', '9600000', '4500000 per month',
       '60000   per month', '7800000', '$505050  \napprox. 796388024',
       '$633000  \napprox. 998145965', '115000', '2700 per square foot',
       '26500', '6000000000', '22000',
       '$135000000  \napprox. 212874731775', '19500000', '800000000',
       '2000000 per month', '13800000', '95000 per month', '3650000',
       '18200000', '300000000', '1870000', '68000000',
       '50000   per month', '120000 per square foot', '230000', '59000',
       '19999999', '570000 per month', '3625000', '1550000', '93450000',
       '$1500    \napprox. 2365275', '155000000', '367000',
       '$625000  \napprox. 985531166', '550000 per month', '49999999',
       '840000000', '120000 per month', '100000 per month',
       '1400000 per month', '25000011', '25000050', '31000000',
       '230000000', '3900000', '775000',
       '$100000000  \napprox. 157684986500', '18900000',
       '$39000  \napprox. 61497145', '$68000  \napprox. 107225791',
       '380000000', '5292500', '$400   per month \napprox. 630740',
       '$800    \napprox. 1261480', '55005000', '5700000', '600000000',
       '35000 per month', '1850000', '16510000',
       '$300000  \napprox. 473054960', '150000 per day',
       '50000 per square foot', '3080000', '28800000', '5800000',
       '480000 per month', '150000 per square foot', '4600000', '8750000',
       '1595000 per day', '69000000', '21300000', '6000000 per month',
       '29990000', '24999990', '17001111', '156000000', '120000 per day',
       '37800000', '600000 per day', '36000', '1900000 per month',
       '7820000', '47000000', '460000000', '500000 per month',
       '$650   per month \napprox. 1024952', '1150000', '3640000',
       '166000000', '3750000', '550000 per day', '1800000 per day',
       '5500000 per day', '800000 per day', '3000000 per day',
       '5000000 per day', '1500000 per day', '1700000 per day',
       '1200000 per day', '950000 per day', '900000 per day',
       '200000 per hour', '3700000 per day', '8000 per hour',
       '12000 per hour', '10000 per hour', '340000', '2900000',
       '175000000', '1800 per square foot', '520000000', '17556000',
       '2040000', '17000004', '37500000', '27999999',
       '$820    \napprox. 1293017', '$8000    \napprox. 12614799',
       '30000 per square foot', '59999990', '116000', '700000000',
       '6850000', '140000 per month', '77350000',
       '$251038  \napprox. 395849236', '240000', '50400000', '2250000',
       '$725    \napprox. 1143216', '35000   per month',
       '13000   per month', '12000   per month', '8500   per month',
       '11000   per month', '90000   per month', '145000000', '550000000',
       '$149999  \napprox. 236525903', '30000010', '25000055',
       '212000000', '30000550', '59900000', '25001550', '100000900',
       '42000000', '275000 per month', '3300000000',
       '$76000  \napprox. 119840590', '3975000',
       '$400000    \napprox. 630739946', '320000 per month',
       '1100000 per month', '25000 per square foot', '1500000000',
       '34999999', '25200000', '2500000000', '20000 per hour', '41000000',
       '22000011', '25000555', '14999000', '$149500  \napprox. 235739055',
       '150000   per month', '67000000', '1650000', '84000000', '420000',
       '31999990', '190000000', '96000', '8580000',
       '3200 per square foot', '24578000', '14175000', '108000 per day',
       '100000 per square foot', '28500000', '1650000 per month',
       '370000', '740000', '26000', '28100000', '$50    \napprox. 78842',
       '40700000', '98980000', '38000000', '6300000',
       '$600000  \napprox. 946109919', '7280000', '12390000', '195000',
       '50000 per month', '39000000', '144000000',
       '$488855  \napprox. 770850941', '$237816  \napprox. 375000127',
       '295000000', '29900000', '$300    \napprox. 473055', '28010000',
       '80000011', '$40001  \napprox. 63075571', '15100000',
       '770000 per month', '75000 per square foot', '1705000',
       '30000 per hour', '27500000', '2042000',
       '$2000 per month \napprox. 3153700', '80000 per day', '69160000',
       '18000000 per month', '850000 per month', '280000 per day',
       '6500000000', '5780000', '6545000', '105000', '1450000', '260000',
       '$14000  \napprox. 22075898', '$550  \napprox. 867267', '3150000',
       '1560000', '35000 per square foot', '18150000', '18000005',
       '10000 per month', '32010000', '21000100', '12000001', '30000005',
       '30001010', '380000', '4500 per square foot  per month',
       '30060000', '290000 per month', '$35800  \napprox. 56451225',
       '43000', '24325000', '28600000', '64000000', '5500000 per month',
       '$204000  \napprox. 321677372', '28000', '7700000', '76080000',
       '$60111  \napprox. 94786022', '20000050', '25000001', '6080000',
       '2800 per square foot', '$1700000  \napprox. 2680644771',
       '3780000', '2800000000', '3500000 per month', '77500000',
       '300000 per day', '44000000', '$250    \napprox. 394212',
       '9900000', '330000000', '8000005', '197000000',
       '$20001  \napprox. 31538574', '30005000', '17000500', '30000110',
       '8200000', '2000', '20000 per day',
       '$1400000  \napprox. 2207589811', '84600000', '20000000 per month',
       '23010000', '66900000', '3200 per square foot  per month',
       '$225000  \napprox. 354791220', '20000550', '25005550', '10000050',
       '35000555', '21550500', '9800000', '20000100', '250000 per day',
       '11050000', '830000', '3000 per square foot  per month',
       '20860000', '8500', '49500000', '67200000', '29000000',
       '$38555  \napprox. 60795447', '$38110  \napprox. 60093748',
       '35100100', '20000010', '20000110', '8050000',
       '$60001  \napprox. 94612569', '$60010  \napprox. 94626760',
       '25500000', '$20011  \napprox. 31554343', '10500550', '32000500',
       '15000011', '19600000', '22400000', '3100000 per day',
       '130000 per square foot', '2500', '125000', '2900 per square foot',
       '$1300000  \napprox. 2049904825', '9999999', '34000000',
       '22001000', '17001010', '8680000', '750000 per square foot',
       '$137600  \napprox. 216974541', '1050000 per month', '30050000',
       '16000', '180000 per day', '27000   per month',
       '$33000  \napprox. 52036046', '25100000',
       '$240000  \napprox. 378443968', '18480000', '450000 per day',
       '23555000', '31200000', '18000011', '33000', '78400000',
       '10000550', '$850    \napprox. 1340322',
       '$655    \napprox. 1032837', '30005050',
       '35000 per calendar month', '18100100', '1850000 per month',
       '37500', '70000 per day', '20300000', '19800000', '23112500',
       '$40010  \napprox. 63089763', '23155000', '25000100', '30002100',
       '51000000', '32100000', '9100000', '81000000', '132500000000'],
      dtype=object)

In [39]:
def is_not_numeric(value):
    try:
        float(value)
        return False
    except ValueError:
        return True

In [40]:
filtered_df = property_df[property_df["price"].apply(is_not_numeric)]

In [41]:
filtered_df.shape

(653, 10)

In [42]:
filtered_df["price"].unique()

array(['$15000  \napprox. 23652748', '190000 per month',
       '210000 per month', '180000 per month', '200000 per month',
       '220000 per month', '$22000  \napprox. 34690697',
       '1000000 per month', '950000 per month', '420000 per month',
       '400000 per month', '650000 per month',
       '$700    \napprox. 1103795', '$400    \napprox. 630740',
       '$39999  \napprox. 63072418', '300000 per month',
       '900000 per month', '$40000  \napprox. 63073995',
       '$80000  \napprox. 126147989', '$24000  \napprox. 37844397',
       '350000 per month', '750000 per month', '$650  \napprox. 1024952',
       '425000 per day', '430000 per day', '500000 per day',
       '$95000  \napprox. 149800737', '1500000 per month',
       '450000 per month', '1200000 per month',
       '$75000  \napprox. 118263740', '$85000  \napprox. 134032239',
       '260000 per month', '150000 per month',
       '$60000  \napprox. 94610992', '3000 per square foot',
       '66000 per hour', '$38000  \napprox. 59920295',
       '$50000  \napprox. 78842493', '$25000  \napprox. 39421247',
       '$35000  \napprox. 55189745', '2500000 per day', '5200000 per day',
       '10000   per month', '70000   per month', '75000   per month',
       '400000 per square foot', '8000   per month',
       '3500 per square foot', '700000 per month',
       '$20000  \napprox. 31536997', '$120000  \napprox. 189221984',
       '180000   per month', '40000   per month', '25000 per month',
       '800000 per month', '$500    \napprox. 788425',
       '$2500000  \napprox. 3942124663', '$90000  \napprox. 141916488',
       '$650    \napprox. 1024952', '$715    \napprox. 1127448',
       '$580    \napprox. 914573', '$95001  \napprox. 149802314',
       '$600    \napprox. 946110', '$86000  \napprox. 135609088',
       '$60015  \napprox. 94634645', '250000 per month',
       '38000 per square foot', '$350  \napprox. 551897',
       '$30000  \napprox. 47305496', '$40011  \napprox. 63091340',
       '$550    \napprox. 867267', '$105000  \napprox. 165569236',
       '$44000  \napprox. 69381394', '95000   per month',
       '$150000  \napprox. 236527480', '$60000000  \napprox. 94610991900',
       '2500 per square foot', '$55000  \napprox. 86726743',
       '600000 per month', '$350000  \napprox. 551897453',
       '$100000  \napprox. 157684987', '$750    \napprox. 1182637',
       '$45000  \napprox. 70958244', '$680    \napprox. 1072258',
       '360000 per month', '40000 per square foot', '170000 per month',
       '80000 per month', '230000 per month',
       '$200000  \napprox. 315369973', '$60005  \napprox. 94618876',
       '70000 per month', '60000 per month', '270000 per month',
       '200000 per day', '350000 per day',
       '$130000000  \napprox. 204990482450', '$55555  \napprox. 87601894',
       '$350    \napprox. 551897', '1700000 per month',
       '4000000 per month', '515000 per month', '1300000 per month',
       '63000 per month', '2500000 per month', '$395    \napprox. 622856',
       '2000 per square foot', '160000 per month', '1600000 per month',
       '2000000 per day', '130000 per month', '1800000 per month',
       '86000 per month', '143000 per month',
       '$65000  \napprox. 102495241', '3000000 per month',
       '$70000  \napprox. 110379491', '65000 per month',
       '10270000 per month', '$445500  \napprox. 702486615',
       '$450    \napprox. 709582', '$700  \napprox. 1103795',
       '$130000  \napprox. 204990482', '2650000 per month',
       '475000 per month', '$250000  \napprox. 394212466',
       '3200000 per day', '1400000 per day', '4500000 per month',
       '60000   per month', '$505050  \napprox. 796388024',
       '$633000  \napprox. 998145965', '2700 per square foot',
       '$135000000  \napprox. 212874731775', '2000000 per month',
       '95000 per month', '50000   per month', '120000 per square foot',
       '570000 per month', '$1500    \napprox. 2365275',
       '$625000  \napprox. 985531166', '550000 per month',
       '120000 per month', '100000 per month', '1400000 per month',
       '$100000000  \napprox. 157684986500', '$39000  \napprox. 61497145',
       '$68000  \napprox. 107225791', '$400   per month \napprox. 630740',
       '$800    \napprox. 1261480', '35000 per month',
       '$300000  \napprox. 473054960', '150000 per day',
       '50000 per square foot', '480000 per month',
       '150000 per square foot', '1595000 per day', '6000000 per month',
       '120000 per day', '600000 per day', '1900000 per month',
       '500000 per month', '$650   per month \napprox. 1024952',
       '550000 per day', '1800000 per day', '5500000 per day',
       '800000 per day', '3000000 per day', '5000000 per day',
       '1500000 per day', '1700000 per day', '1200000 per day',
       '950000 per day', '900000 per day', '200000 per hour',
       '3700000 per day', '8000 per hour', '12000 per hour',
       '10000 per hour', '1800 per square foot',
       '$820    \napprox. 1293017', '$8000    \napprox. 12614799',
       '30000 per square foot', '140000 per month',
       '$251038  \napprox. 395849236', '$725    \napprox. 1143216',
       '35000   per month', '13000   per month', '12000   per month',
       '8500   per month', '11000   per month', '90000   per month',
       '$149999  \napprox. 236525903', '275000 per month',
       '$76000  \napprox. 119840590', '$400000    \napprox. 630739946',
       '320000 per month', '1100000 per month', '25000 per square foot',
       '20000 per hour', '$149500  \napprox. 235739055',
       '150000   per month', '3200 per square foot', '108000 per day',
       '100000 per square foot', '1650000 per month',
       '$50    \napprox. 78842', '$600000  \napprox. 946109919',
       '50000 per month', '$488855  \napprox. 770850941',
       '$237816  \napprox. 375000127', '$300    \napprox. 473055',
       '$40001  \napprox. 63075571', '770000 per month',
       '75000 per square foot', '30000 per hour',
       '$2000 per month \napprox. 3153700', '80000 per day',
       '18000000 per month', '850000 per month', '280000 per day',
       '$14000  \napprox. 22075898', '$550  \napprox. 867267',
       '35000 per square foot', '10000 per month',
       '4500 per square foot  per month', '290000 per month',
       '$35800  \napprox. 56451225', '5500000 per month',
       '$204000  \napprox. 321677372', '$60111  \napprox. 94786022',
       '2800 per square foot', '$1700000  \napprox. 2680644771',
       '3500000 per month', '300000 per day', '$250    \napprox. 394212',
       '$20001  \napprox. 31538574', '20000 per day',
       '$1400000  \napprox. 2207589811', '20000000 per month',
       '3200 per square foot  per month', '$225000  \napprox. 354791220',
       '250000 per day', '3000 per square foot  per month',
       '$38555  \napprox. 60795447', '$38110  \napprox. 60093748',
       '$60001  \napprox. 94612569', '$60010  \napprox. 94626760',
       '$20011  \napprox. 31554343', '3100000 per day',
       '130000 per square foot', '2900 per square foot',
       '$1300000  \napprox. 2049904825', '750000 per square foot',
       '$137600  \napprox. 216974541', '1050000 per month',
       '180000 per day', '27000   per month',
       '$33000  \napprox. 52036046', '$240000  \napprox. 378443968',
       '450000 per day', '$850    \napprox. 1340322',
       '$655    \napprox. 1032837', '35000 per calendar month',
       '1850000 per month', '70000 per day', '$40010  \napprox. 63089763'],
      dtype=object)

In [43]:
# Lets remove property with unclear prices

# convert price to numeric, and set error to coerce to convert non numeric values to NAN
property_df["price"] = pd.to_numeric(property_df["price"], errors="coerce")

property_df = property_df.dropna(subset=["price"])

In [44]:
property_df["price"].unique()

array([3.50000000e+06, 1.30000000e+06, 2.00000000e+07, 8.50000000e+06,
       2.80000000e+06, 6.50000000e+06, 2.50000000e+07, 5.00000000e+06,
       1.00000000e+06, 2.50000000e+06, 1.20000000e+07, 1.20000000e+06,
       2.00000000e+06, 1.70000000e+06, 9.50000000e+05, 4.00000000e+06,
       8.00000000e+06, 7.00000000e+06, 6.00000000e+06, 3.00000000e+06,
       5.50000000e+06, 3.60000000e+06, 1.60000000e+07, 1.50000000e+07,
       7.50000000e+05, 1.00000000e+07, 2.30000000e+06, 9.00000000e+05,
       1.80000000e+07, 6.50000000e+05, 1.50000000e+06, 3.20000000e+06,
       1.00000000e+08, 3.80000000e+06, 1.10000000e+07, 2.70000000e+06,
       4.50000000e+06, 3.25000000e+06, 5.00000000e+07, 1.30000000e+07,
       6.00000000e+07, 9.00000000e+06, 2.50000000e+08, 7.50000000e+06,
       7.00000000e+05, 4.00000000e+07, 1.40000000e+06, 3.00000000e+07,
       8.00000000e+05, 4.50000000e+05, 1.80000000e+06, 2.20000000e+06,
       3.50000000e+07, 9.00000000e+08, 5.00000000e+05, 1.10000000e+06,
       1.25000000e+07, 6.00000000e+05, 1.60000000e+06, 4.00000000e+05,
       2.80000000e+08, 8.00000000e+07, 5.50000000e+05, 3.00000000e+05,
       5.60000000e+05, 5.99999990e+07, 2.99999990e+07, 1.25000000e+06,
       1.70000000e+07, 1.10572000e+08, 1.40000000e+07, 3.70000000e+06,
       7.00000000e+07, 3.50000000e+05, 1.79999990e+07, 1.49999990e+07,
       2.20000000e+07, 6.50000000e+07, 1.16000000e+07, 2.00000000e+05,
       1.35000000e+07, 3.99999990e+07, 2.49991000e+07, 2.50000000e+05,
       1.35000000e+06, 1.10000000e+05, 1.50000000e+08, 1.80000000e+08,
       7.00000000e+04, 4.50000000e+07, 8.50000000e+05, 7.50000000e+07,
       7.50000000e+08, 2.43750000e+07, 3.40000000e+06, 2.40000000e+06,
       5.50000000e+04, 4.20000000e+06, 3.60000000e+07, 9.00000000e+04,
       1.90000000e+07, 9.00000000e+07, 2.60000000e+06, 4.00000000e+08,
       4.30000000e+06, 7.30000000e+06, 5.27150000e+07, 2.30000000e+07,
       1.15000000e+07, 1.80000000e+05, 4.50000000e+04, 1.30000000e+05,
       7.50000000e+04, 6.00000000e+04, 1.69999990e+07, 8.25000000e+06,
       1.20000000e+05, 8.00000000e+04, 1.05000000e+07, 4.10000000e+06,
       1.75000000e+07, 6.50000000e+04, 3.30000000e+06, 2.00000000e+08,
       1.70000000e+05, 1.75000000e+06, 1.85000000e+07, 1.50000000e+05,
       1.90000000e+06, 2.10000000e+06, 1.70000000e+08, 2.00008000e+06,
       3.20000000e+04, 1.05000000e+08, 1.68000000e+07, 9.97500000e+07,
       8.50000000e+04, 6.40000000e+06, 1.55000000e+07, 1.00000000e+05,
       5.50000000e+07, 2.49999000e+07, 1.45000000e+07, 9.50000000e+06,
       2.20000000e+05, 6.20000000e+06, 1.00000000e+09, 2.16000000e+07,
       2.49999100e+07, 1.10000000e+08, 3.00000000e+04, 5.00000000e+04,
       3.60000000e+05, 3.20000000e+05, 2.20000000e+08, 7.00000040e+07,
       2.80000000e+07, 4.80000000e+06, 8.50000000e+07, 5.20000000e+07,
       1.30000000e+08, 1.60000000e+08, 3.50000000e+04, 2.25000000e+07,
       2.99998000e+07, 2.60000000e+07, 1.40000000e+08, 2.42250000e+07,
       2.40000000e+08, 5.30000000e+05, 1.00015000e+07, 9.80000000e+08,
       3.60000000e+08, 2.40000000e+07, 1.08000000e+07, 2.35000000e+07,
       2.10000000e+07, 3.20000000e+07, 2.99999000e+07, 1.80001500e+07,
       2.50000000e+04, 3.00000000e+03, 2.49999990e+07, 1.60000000e+05,
       2.10000000e+05, 5.30000000e+07, 2.49000000e+07, 4.90000000e+07,
       1.27000000e+08, 3.70000000e+07, 7.20000000e+06, 1.20000000e+08,
       4.20000000e+04, 1.65000000e+08, 2.50015000e+07, 2.10000000e+08,
       1.09999999e+08, 2.00000000e+04, 4.00000100e+07, 2.20000010e+07,
       4.00000110e+07, 5.90000000e+07, 3.55000000e+07, 4.22100000e+07,
       4.37500000e+06, 2.08000000e+07, 9.58356000e+07, 1.15000000e+08,
       1.65000000e+07, 1.40000000e+05, 6.80000000e+06, 3.16000000e+08,
       2.70000000e+05, 1.23000000e+07, 5.30000000e+06, 5.20000000e+06,
       1.25000000e+08, 1.10000000e+09, 5.40000000e+07, 2.70000000e+07,
       5.00000000e+08, 3.50000000e+08, 4.70000000e+06, 1.92000000e+06,
       4.00000000e+04, 1.90000000e+05, 4.96500000e+07, 1.65000000e+05,
       2.70000000e+08, 7.35570000e+06, 9.50000000e+04, 6.30000000e+05,
       1.05350000e+07, 3.10000000e+06, 5.27800000e+07, 2.20000100e+07,
       1.26000000e+07, 1.05000000e+06, 9.50000000e+07, 2.95000000e+06,
       1.22600000e+08, 3.30000000e+07, 9.20000000e+07, 1.35000000e+05,
       3.96000000e+06, 2.20500000e+07, 5.40000000e+06, 9.20000000e+04,
       2.61250000e+07, 4.25000000e+06, 4.75000000e+06, 2.45000000e+08,
       1.49900000e+07, 4.50000000e+08, 4.21947000e+07, 4.05000000e+07,
       9.50000000e+08, 1.08000000e+08, 4.80000000e+07, 1.80500000e+06,
       1.84000000e+07, 4.87500000e+06, 1.20000000e+04, 2.75000000e+06,
       1.95000000e+08, 1.50001500e+07, 3.75000000e+05, 1.81808000e+08,
       1.35000000e+08, 3.30000000e+05, 1.15505000e+07, 2.05000000e+07,
       5.18000000e+07, 2.80000000e+05, 1.00000000e+04, 1.50000000e+04,
       5.62500000e+05, 5.36250000e+05, 3.37500000e+05, 4.87500000e+05,
       1.85000000e+05, 3.71300000e+05, 1.75000000e+05, 5.23900000e+05,
       3.22000000e+07, 6.60000000e+06, 9.60000000e+06, 7.80000000e+06,
       1.15000000e+05, 2.65000000e+04, 6.00000000e+09, 2.20000000e+04,
       1.95000000e+07, 8.00000000e+08, 1.38000000e+07, 3.65000000e+06,
       1.82000000e+07, 3.00000000e+08, 1.87000000e+06, 6.80000000e+07,
       2.30000000e+05, 5.90000000e+04, 1.99999990e+07, 3.62500000e+06,
       1.55000000e+06, 9.34500000e+07, 1.55000000e+08, 3.67000000e+05,
       4.99999990e+07, 8.40000000e+08, 2.50000110e+07, 2.50000500e+07,
       3.10000000e+07, 2.30000000e+08, 3.90000000e+06, 7.75000000e+05,
       1.89000000e+07, 3.80000000e+08, 5.29250000e+06, 5.50050000e+07,
       5.70000000e+06, 6.00000000e+08, 1.85000000e+06, 1.65100000e+07,
       3.08000000e+06, 2.88000000e+07, 5.80000000e+06, 4.60000000e+06,
       8.75000000e+06, 6.90000000e+07, 2.13000000e+07, 2.99900000e+07,
       2.49999900e+07, 1.70011110e+07, 1.56000000e+08, 3.78000000e+07,
       3.60000000e+04, 7.82000000e+06, 4.70000000e+07, 4.60000000e+08,
       1.15000000e+06, 3.64000000e+06, 1.66000000e+08, 3.75000000e+06,
       3.40000000e+05, 2.90000000e+06, 1.75000000e+08, 5.20000000e+08,
       1.75560000e+07, 2.04000000e+06, 1.70000040e+07, 3.75000000e+07,
       2.79999990e+07, 5.99999900e+07, 1.16000000e+05, 7.00000000e+08,
       6.85000000e+06, 7.73500000e+07, 2.40000000e+05, 5.04000000e+07,
       2.25000000e+06, 1.45000000e+08, 5.50000000e+08, 3.00000100e+07,
       2.50000550e+07, 2.12000000e+08, 3.00005500e+07, 5.99000000e+07,
       2.50015500e+07, 1.00000900e+08, 4.20000000e+07, 3.30000000e+09,
       3.97500000e+06, 1.50000000e+09, 3.49999990e+07, 2.52000000e+07,
       2.50000000e+09, 4.10000000e+07, 2.20000110e+07, 2.50005550e+07,
       1.49990000e+07, 6.70000000e+07, 1.65000000e+06, 8.40000000e+07,
       4.20000000e+05, 3.19999900e+07, 1.90000000e+08, 9.60000000e+04,
       8.58000000e+06, 2.45780000e+07, 1.41750000e+07, 2.85000000e+07,
       3.70000000e+05, 7.40000000e+05, 2.60000000e+04, 2.81000000e+07,
       4.07000000e+07, 9.89800000e+07, 3.80000000e+07, 6.30000000e+06,
       7.28000000e+06, 1.23900000e+07, 1.95000000e+05, 3.90000000e+07,
       1.44000000e+08, 2.95000000e+08, 2.99000000e+07, 2.80100000e+07,
       8.00000110e+07, 1.51000000e+07, 1.70500000e+06, 2.75000000e+07,
       2.04200000e+06, 6.91600000e+07, 6.50000000e+09, 5.78000000e+06,
       6.54500000e+06, 1.05000000e+05, 1.45000000e+06, 2.60000000e+05,
       3.15000000e+06, 1.56000000e+06, 1.81500000e+07, 1.80000050e+07,
       3.20100000e+07, 2.10001000e+07, 1.20000010e+07, 3.00000050e+07,
       3.00010100e+07, 3.80000000e+05, 3.00600000e+07, 4.30000000e+04,
       2.43250000e+07, 2.86000000e+07, 6.40000000e+07, 2.80000000e+04,
       7.70000000e+06, 7.60800000e+07, 2.00000500e+07, 2.50000010e+07,
       6.08000000e+06, 3.78000000e+06, 2.80000000e+09, 7.75000000e+07,
       4.40000000e+07, 9.90000000e+06, 3.30000000e+08, 8.00000500e+06,
       1.97000000e+08, 3.00050000e+07, 1.70005000e+07, 3.00001100e+07,
       8.20000000e+06, 2.00000000e+03, 8.46000000e+07, 2.30100000e+07,
       6.69000000e+07, 2.00005500e+07, 2.50055500e+07, 1.00000500e+07,
       3.50005550e+07, 2.15505000e+07, 9.80000000e+06, 2.00001000e+07,
       1.10500000e+07, 8.30000000e+05, 2.08600000e+07, 8.50000000e+03,
       4.95000000e+07, 6.72000000e+07, 2.90000000e+07, 3.51001000e+07,
       2.00000100e+07, 2.00001100e+07, 8.05000000e+06, 2.55000000e+07,
       1.05005500e+07, 3.20005000e+07, 1.50000110e+07, 1.96000000e+07,
       2.24000000e+07, 2.50000000e+03, 1.25000000e+05, 9.99999900e+06,
       3.40000000e+07, 2.20010000e+07, 1.70010100e+07, 8.68000000e+06,
       3.00500000e+07, 1.60000000e+04, 2.51000000e+07, 1.84800000e+07,
       2.35550000e+07, 3.12000000e+07, 1.80000110e+07, 3.30000000e+04,
       7.84000000e+07, 1.00005500e+07, 3.00050500e+07, 1.81001000e+07,
       3.75000000e+04, 2.03000000e+07, 1.98000000e+07, 2.31125000e+07,
       2.31550000e+07, 2.50001000e+07, 3.00021000e+07, 5.10000000e+07,
       3.21000000e+07, 9.10000000e+06, 8.10000000e+07, 1.32500000e+11])

In [45]:
property_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21594 entries, 0 to 22423
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           21594 non-null  object
 1   type            21594 non-null  object
 2   address         21594 non-null  object
 3   description     21594 non-null  object
 4   price           21594 non-null  float64
 5   bedrooms        21594 non-null  int64
 6   bathrooms       21594 non-null  int64
 7   toilets         21594 non-null  int64
 8   parking_spaces  21594 non-null  int64
 9   location        21594 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 1.8+ MB

In [46]:
property_df.shape

(21594, 10)

In [47]:
property_df.head()

,title,type,address,description,price,bedrooms,bathrooms,toilets,parking_spaces,location
0,3 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",Self serviced\n3bedroom fr rent in ologolo\nre...,3500000.0,3,3,3,0,Lekki
1,Luxury 2 Bedroom Apartment,flat / apartment,"Newtown Estate, Ogombo, Ajah, Lagos",Brand new\ngood water\nluxury home\nfitted kit...,1300000.0,2,2,3,2,Ajah
2,Well Maintained 5 Bedroom Detached Duplex With Bq,detached duplex,"Lekki Phase 1, Lekki, Lagos",Well maintained 5 bedroom detached duplex with...,20000000.0,5,5,6,3,Lekki
3,Refurbished 3 Bedroom Luxury Flat With Bq,flat / apartment,"Lekki Phase 1, Lekki, Lagos",Refurbished 3 bedroom luxury flats with bq ava...,8500000.0,3,3,3,3,Lekki
4,Slick 2 Bedroom Apartment In Ologolo,flat / apartment,"Ologolo, Lekki, Lagos",2 bedroom apartmemt for rent\nrent 2.8m\nservi...,2800000.0,2,2,3,2,Lekki

In [48]:
# save to csv
property_df.to_csv("../raw_data/house_clean_data.csv", index=False)

## Thank you